<!doctype html>
<html lang="en">
<%- include('../partials/head', { title: 'Test : About' }) %>

    <body>
        <%- include('../partials/svg-sprite') %>
        <%- include('../partials/header') %>
        <main>
            <h1>About</h1>
            <p>This is a minimal demo using EJS templates compiled to static HTML.</p>
            <div class="notices">
                <%- include('../components/component', {
                    type: '',
                    icon: 'icon-home',
                    heading: 'Notice',
                    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'
                }) %>
                <%- include('../components/component',
                {
                    type: 'warning',
                    icon: 'icon-search',
                    heading: 'Warning',
                    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'
                }) %>
                <%- include('../components/component',
                {
                    type: 'success',
                    icon: 'icon-settings',
                    heading: 'Success',
                    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'
                }) %>
            </div>
        </main>
        <%- include('../partials/footer') %>
        <script type="module" src="<%= moduleEntry %>"></script>
    </body>

</html>